<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>
<body>
    <section class="container">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, corrupti obcaecati quaerat praesentium nostrum enim blanditiis nam vitae voluptas mollitia sapiente, quis laboriosam at fugiat dolor error sunt doloribus eos.</p>

        <form action="/" method="post">
            <label for="customer">Customer name</label>
            <input type="text" id="customer" name="customer">
            <button type="submit">Enviar</button>
        </form>
    </section>
    
    <script src="./assets/js/bundle.js"></script>
</body>
</html>